<h1>Listing recipients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Year</th>
      <th>Fyi</th>
      <th>Occupation</th>
      <th>Education</th>
      <th>Age</th>
      <th>Family</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= recipient.name %></td>
        <td><%= recipient.content %></td>
        <td><%= recipient.year %></td>
        <td><%= recipient.fyi %></td>
        <td><%= recipient.occupation %></td>
        <td><%= recipient.education %></td>
        <td><%= recipient.age %></td>
        <td><%= recipient.family %></td>
        <td><%= link_to 'Show', recipient %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
