<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @recipient.content %>
</p>

<p>
  <strong>Year:</strong>
  <%= @recipient.year %>
</p>

<p>
  <strong>Fyi:</strong>
  <%= @recipient.fyi %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @recipient.occupation %>
</p>

<p>
  <strong>Education:</strong>
  <%= @recipient.education %>
</p>

<p>
  <strong>Age:</strong>
  <%= @recipient.age %>
</p>

<p>
  <strong>Family:</strong>
  <%= @recipient.family %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
