<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <%= link_to image_tag("sct.png", alt: "Rails"), 'http://www.sctimes.com' %>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider" style="padding-left:10px"></li>
      <li><%= link_to "Project name", '#' %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Users", '#' %></li>
        <li class="has-dropdown">
          <a href="#">Account</a>
          <ul class="dropdown">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", "#" %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        <li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
