<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <%= link_to image_tag("sct.png", alt: "Rails"), 'http://www.sctimes.com' %>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown active">
        <a href="#">Nav</a>
        <ul class="dropdown">
          <li class="has-dropdown active"><a href="#">Sub Nav</a>
            <ul class="dropdown">
              <li><%= link_to "#", "#" %></li>
              <li><%= link_to "#", "#" %></li>
              <li><%= link_to "#", "#" %></li>
              <li><%= link_to "#", "#" %></li>
              <li><%= link_to "#", "#" %></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="left">
      <li class="divider" style="padding-left:10px"></li>
      <li><%= link_to "Project name", root_url %></li>
    </ul>
  </section>
</nav>
