<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render'layouts/header'%>
	<div class="row">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert-box #{key}") %>
      	<% end %>
		<%= yield %>
	</div>
	<%= debug(params) if Rails.env.development? %>
	<%= render'layouts/footer'%>
</body>
	<%= javascript_include_tag "application"%>
</html>
